{% extends "base.html" %}

{% block content %}
<div id ="header-container">
    <h1 id="page-header">Let's Play Rock, Paper, Scissors!</h1>
</div>

<div id="form-container">
    <form action="/play" method="post">
        <div id="inner form">
            <div>
                <label for="player_1_name">Player 1:</label>
                <input type="text" name="player_1_name" id="player_1_name">
            </div>
            <div>
                <label for="player_2_name">Player 2:</label>
                <input type="text" name="player_2_name" id="player_2_name">
            </div>

            <div>
                <label for="choice_1">Select an Item: </label>
                <select name="choice_1" id="choice_1">
                    <option value=""> *select*</option>
                    <option value="rock">rock</option>
                    <option value="paper">paper</option>
                    <option value="scissors">scissors</option>
                </select>
            </div>
            <div>
                <label for="choice_2">Select an Item: </label>
                <select name="choice_2" id="choice_2">
                    <option value=""> *select*</option>
                    <option value="rock">rock</option>
                    <option value="paper">paper</option>
                    <option value="scissors">scissors</option>
                </select>
            </div>
            <input type="submit" value="Rock, Paper, Scissors" class="rps-button">
        </div>
    </form>
</div>


{% endblock %}