{% extends "base.html" %}

{% block content %}

<h1>Welcome to Rock, Paper Scissors!</h1>
    <p>To play, choose whether you will be rock, paper, or scissors, but don't share your choice with your opponent! Player 1 will enter their choice first, while player 2 keeps their eyes closed. Player 2 then tells player 1 what their choice will be and player one will enter it after their own choice. Scissors beats paper, paper beats rock, and rock beats scissors. After both choices have been entered, simply press enter and the winner will be announced!</p>

{% endblock %}